
// Vendor Components
@import "/bootstrap/scss/bootstrap";

// enforce modal margin
.ekko-lightbox > .modal-dialog {
  width: auto!important;
  padding: 10px;
}

body {
	background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}